<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="koboldblogprovider.koboldblogprovider.mapper.BlogsMapper">
    <select id="getBlogsByStatus" resultMap="blogsResult">
        select * from blogs where blog_status=#{blogstatus}
    </select>
    <select id="getBlog" resultMap="blogsResult">
        select * from blogs where id=#{id}
    </select>
    <select id="getByClassifyId">
        select b.* from blogs b join classify_blogs cb on cb.blogsid=b.id
        where cb.classifyid=#{classifyid}
    </select>

    <select id="getBlogsByStatus">
        select * from blogs where blog_status=#{blogStatus}
    </select>
    <update id="updateBlogsStatus">
        update blogs set blog_status=#{blogStatus}, modify_time=now() where id=#{id}
    </update>

    <update id="deleteBlogs">
        update blogs set is_deleted=#{isDeleted}, modify_time=now() where id=#{id}
    </update>

    <insert id="insertBlog">
        insert into blogs (id,title,content,sub_content,blog_status,modify_time,create_time,isDeleted)
        values (#{id},#{title},#{content},#{subContent},#{blogStatus},#{modifyTime},#{createTime},#{isDeleted})
    </insert>
    <update id="updateBlog">
        update blogs set titile=#{title},
        constent=#{content},
        sub_content=#{subcontent},
        modify_time=now()
        where id=#{id}
    </update>
</mapper>